*{
   padding: 0;
   margin: 0;
   font-family: 'Mina', sans-serif;

    }
.side-menu {
    width: 100px;  
    background-color: #9b59b6;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}
.sport-menu {
    text-align: center;
    text-align: justify;
    width: 50%;
    margin: 20px;
    padding-top: 15px;
    cursor: pointer;
    font-family: Arial;
}
.item-menu:hover {
    color: #ccc;
}
.content-main {
    display: flex;
}
#btn-imagens {
    background-color: #8e44ad;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
}